.tagline {
  color: #FFFAF0;  
  font-size: 400%;
  letter-spacing: 4px;
  position: absolute;
  top: calc(25% - 20px);
  left: calc(50% - 200px);
}

.acro-img {
  // display: inline-block;
  padding-top: 5px;
  height: 700px;
  overflow: hidden; 
}

.acro-jpg {
  object-fit: cover;
  height: 1200px;
}

.footer {
  border-top: solid 1px rgb(57, 38, 179);
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 20px;
}
