
.nav-bar {
  background-color: rgba(250, 245, 238, .5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: dotted 1px slategray;
  border-top: solid 2px darkslateblue;
  margin-bottom: .7%;
  width: 100%;
}

.nav-display {
  width: 25%;
}

.logo {
  font-family: 'Crimson Text', serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 1.3% 10% .5% 8%;
  vertical-align: middle;
  line-height: 100%;

}

.authlinks {
  // border-left: solid 1px rgb(57, 38, 179);
  font-size: 100%;
  font-weight: 500;
  height: 100%;
  display: flex;
  // justify-content: space-between;
  width: 100%;
  overflow: hidden;
  

 .active {
    background-color: whitesmoke;
  }
}

.authlink {
  // display: inline;
  border-left: dotted 1px slategray;
  color: slategray;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  letter-spacing: 150%;
  line-height: 50px;
  height: 80%;
  width: 100%;
  word-spacing: 1%;
  text-align: center;
  margin: auto;
  // vertical-align: middle;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.welcome {
  font-size: 20px;
  height: 100%;
  display: flex;
  // justify-content: space-between;
  width: 100%;
  line-height: 50px;
  margin: auto;
  // height: 80%;
  // vertical-align: middle;
  // border-left: dotted 1px darkslateblue;
  // padding: 10px 10px 10px 10px;
}

.userThumb {
  border-left: dotted 1px slategray;
  font-size: 120%;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 50px;
  height: 80%;
  width: 100%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}


.authModal {
  border-radius: 2%;
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 248, 0.85);
  top: 20%;
  left: 25%;
  align-items: center;
  width: 50%;
  height: 25%;
  margin: auto;

}

.cancelbtn {
  color: grey;
  display: flex;
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 3;

  &:hover {
    cursor: pointer;
    color: darkslateblue;
  }
}

// .nav-display {
//   height: 6.5%;
//   // width: 30%;
// }

// .nav-bar-login {
//   display: flex;
//   flex-direction: row;
//   height: 80%;

// }

.question-btn {
  align-content: center;
  vertical-align: middle;
  height: 4.3%;
  border-radius: 3%;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 90%;
  color: darkslategray;
  transition: background-color 0.4s ease;
  background-color: lightgray;
  position: absolute;
  width: 12%;
  overflow: hidden;
  right: 28%;
  top: 1%;
  border: dotted .5px slategray;
  margin: auto;
  display: flex;
  justify-content: center;
  line-height: 200%;
  
  &:hover {
    background-color: darkslategray;
    color: lightgray;
    cursor: pointer;
  }
}

.question-btn-ctn {
  
}

.question-modal {
  border-radius: 2%;
  color: darkslategray;
  display: flex;
  position: absolute;
  background-color: rgba(192, 192, 177, 0.452);
  top: 15%;
  left: 25%;
  // align-items: center;
  width: 50%;
  height: 20%;
  margin: auto;
  z-index: 2px;
}

.question-modal h3{
  left: 10%;
  font-size: 150%;
  position: absolute;
  top: 10%;
}

.search-bar {
  position: absolute;
  left: 40%;
  top: 1.5%;
  display: inline-block;
  flex-direction: row;
  width: 20%;

}

.search-bar-input {
  border: dotted 1px lightgray;
}