
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: dotted 1px darkslateblue;
  margin-bottom: 15px;
}

.logo {
  font-family: 'Crimson Text', serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 10px 20px 10px 80px;
  vertical-align: middle;
  line-height: 30px;

}

.authlinks {
  // border-left: solid 1px rgb(57, 38, 179);
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 300px;
  

 .active {
    background-color: whitesmoke;
  }
}

.authlink {
  border-left: dotted 1px darkslateblue;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 50px;
  height: 100%;
  width: 100%;
  word-spacing: 2px;
  text-align: center;
  margin: auto;
  vertical-align: middle;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.welcome {
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 300px;
  // padding: 10px 10px 10px 10px;
}

.userThumb {
  border-left: solid 1px darkslateblue;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  vertical-align: middle;

}

.authModal {
  border-radius: 2%;
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  top: 20%;
  left: 25%;
  align-items: center;
  width: 50%;
  height: 25%;
  margin: auto;

}

.cancelbtn {
  color: grey;
  display: flex;
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 3px;

  &:hover {
    cursor: pointer;
    color: darkslateblue;
  }
}