.question-detail-main {
  position: absolute;
  border-right: dotted 1px lightgray;
  border-left: dotted 1px lightgray;
  width: 60%;
  height: 80%;
  left: 10%;
  top: 13%;
  color: gray;
}
.question-detail-title {
  color: darkslategray;
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 180%;
}

.question-detail-body {
  position: absolute;
  left: 15%;
  top: 25%;

}

.detail-to-homepage {
  position: absolute;
  right: 10%;
  bottom: 20%;
}