.question-items {
  color: slategray;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  position: absolute;
  height: 83%;
  width: 50%;
  top: 12%;
  left: 25%;
  border-left: dotted 1px rgba(210, 205, 205, 1);
  border-right: dotted 1px rgba(210, 205, 205, 1);
  // justify-content: space-between;
  // align-items: center;
}

.question-item {
  border: dotted 1px rgba(210, 205, 205, 1);
  background-color: rgba(255, 254, 254, 0.5);
  // display: inline-block;
  // position: absolute;
  // vertical-align: middle;
  left: 80%;
  height: 5%;
  max-height: 5%;
  overflow: hidden;
  // justify-content: center;
  // align-items: center;  
  margin: 3%;
  width: 78%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 6%;
  padding-bottom: 6%;
  // line-height: 80%;
}

.question-title {
  // display: inline-block;
  color: darkslategray;
  font-size: 150%;
  font-weight: 500;
  // position: absolute;
  margin-bottom: 3%;
  top: 0%;
  left: 20%;
}

.question-body {
  display: flex;
  // position: absolute;
  top: 40%;
  margin-left: 2%;
}

.question-feed-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
