.question-detail-title {
  color: red;
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 180%;
}

.question-detail-body {
  position: absolute;
  left: 15%;
  top: 25%;

}

.detail-to-homepage {
  position: absolute;
  left: 40%;
  top: 50%;
}