.question-items {
  color: slategray;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 83%;
  width: 50%;
  top: 12%;
  left: 25%;
  border-left: dotted 1px rgba(210, 205, 205, 1);
  border-right: dotted 1px rgba(210, 205, 205, 1);
  // justify-content: space-between;
  // align-items: center;
}

.question-item {
  border: dotted 1px rgba(210, 205, 205, 1);
  background-color: rgba(250, 245, 238, .5);
  // display: inline-block;
  // position: absolute;
  // vertical-align: middle;
  max-height: 1%;
  overflow: hidden;
  // justify-content: center;
  // align-items: center;  
  margin: 5%;
  width: 78%;
  padding: 6%;


}

.question-title {
  // display: inline-block;
  color: darkslategray;
  font-size: 150%;
  font-weight: 500;
  // position: absolute;
  margin-bottom: 3%;
  top: 2%;
  left: 0%;
}

.question-body {
  display: flex;
  // position: absolute;
  top: 40%;
  margin-left: 2%;
}