.question-title-field {
  position: absolute;
  width: 70%;
  left: 10%;
  top: 25%;
}

.question-title-field input{
  width: 100%;
}

.question-body-field {
  position: absolute;
  width: 50%;
  height: 200%;
  top: 40%;
  left: 10%;
}

// .question-body-field input{
//   width: 80%;
//   height: 10%;
// }

.question-body-field input{
  position: absolute;
  height: 10%;
  width: 100%;
}

.question-form-submit-btn {
  position: absolute;
  width: 20%;
  bottom: 20%;
  right: 10%;

}

.new-form h3{
  top: 10%;
  font-size-adjust: 2%;
  font-size: 80%;
}