textarea {
  resize: none;
}

.question-detail {
  // width: 100%;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
}
.question-detail-main {
  display: flex;
  justify-content: center;
  position: absolute;
  border-right: dotted 1px lightgray;
  border-left: dotted 1px lightgray;
  width: 35%;
  height: 80%;
  left: 5%;
  top: 13%;
  color: gray;
}

.answers-detail-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 15%;
  width: 50%;
  height: 80%;
  border-right: dotted 1px lightgray;
  color: slategray;
  font-size: 120%;

}

.answers-list {
  color: red;
  position: absolute;
  left: 0%;
  top: 20%;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.answers-list li{
  color: darkslateblue;
  // position: absolute;
  // left: 10%;
  // top: 10%;
  width: 90%;
  margin-top: 10%;
  border: dotted 1px lightgray;
  border-radius: 3%;
  height: 30%;
  padding: 4%;

}

.answers-detail-main h3{
  font-size: 120%;
}

.answer-item {
}

.question-detail-title {
  border-bottom: dotted 1px lightgray;
  color: darkslategray;
  position: absolute;
  left: 5%;
  top: 17%;
  font-size: 180%;
  width: 90%;
  padding-bottom: 5%;
}

.question-detail-body {
  position: absolute;
  display: flex;
  color: slategray;
  left: 10%;
  top: 33%;
  overflow: hidden;
  width: 80%;
  word-spacing: 1%;
  line-height: 160%;
  // text-align: justify;
  // text-justify: inter-word;

}

.detail-to-homepage {
  position: absolute;
  left: 2%;
  top: 2%;
  color: gray;
  border: dotted 1px lightgray;
  font-family: helvetica;
  font-size: 80%;
  display: flex;
  justify-content: center;
  padding: .5%;


  &:hover {
    cursor: pointer;
    color: #FFFAF0;
    background-color: gray;
  }
}

.interlocutor-name {
  position: absolute;
  left: 5%;
  top: 8%;
  font-size-adjust: 120%;
}

.interlocutor-view {
  color: red;
  
}

.question-detail-delete {
  border: dotted 1px lightgray;
  font-family: helvetica;
  position: absolute;
  right: 5%;
  transition: background-color 0.4s ease;
  width: 25%;
  top: 5%;
  font-size: 80%;
  display: flex;
  justify-content: center;
  padding: .5%;
  
  &:hover {
    cursor: pointer;
    color: #FFFAF0;
    background-color: red;
  }
}

.question-detail-edit-btn {
  position: absolute;
  color: slategray;
  border: dotted 1px lightgray;
  font-family: helvetica;
  left: 38%;
  font-size: 80%;
  display: flex;
  justify-content: center;
  padding: .5%;
  width: 25%;
  top: 5%;

    &:hover {
    cursor: pointer;
    color: #FFFAF0;
    background-color: slategray;
  }
}

  .new-answer-form input{
    width: 100%;
  }

  .new-answer-input {
    margin-top: 5%;
    width: 80%;
    height: 10%;
    border-radius: 2%;
    border: dotted 1px lightgray;
    overflow: scroll;
     
  }

  .answer-submit-btn {
    position: absolute;
    right: 20%;
    padding: .8%;
    // color: red;
    transition: background-color 0.4s ease;
    border: dotted 1px lightgray;
    top: 3%;
    background-color: rgb(253, 248, 239);
    font-size: 60%;
    font-family: helvetica;

      &:hover {
          cursor: pointer;
          color: #FFFAF0;
          background-color: slategray;
      }
    }

    .rhetor-view {
      color: red;
      display: flex;
      flex-direction: row-reverse;
    }

    .answer-delete {
      border: red 1px solid;
      width: 20%;
      top: 10%;
      font-size: 50%;
      padding: .4%;
      margin-bottom: 5%;
      display: flex;
      justify-content: center;
      

       &:hover {
          cursor: pointer;
          color: #FFFAF0;
          background-color: red;

      }
    }