.session-form {
  color: darkslateblue;
  display: flex;
  letter-spacing: 2px;
}

.loginmsg {
  position: absolute;
  font-size: 150%;
  letter-spacing: 3px;
  top: 8%;
  left: 5%;
  font-weight: 900;
}

.password-login {
  position: absolute;
  top: 55%;
  left: 10%;
}

.password-signup {
  position: absolute;
  left: 10%;
  top: 47%;
}

.password-input {
  position: absolute;
  top: 10%;
  left: 100%;
  background-color: rgba(214, 244, 252, .2);

}
.username-session {
  position: absolute;
  top: 30%;
  left: 10%;
  letter-spacing: 5%;
}

.signup-password-input {
  background-color: rgba(214, 244, 252, .2);
  top: 10%;
}


.username-input {
  background-color: rgba(214, 244, 252, .2);
  // position: absolute;
  left: 100%;
  top: 10%;
}

.email-input {
  background-color: rgba(214, 244, 252, .2);

}

.user-email {
  position: absolute;
  left: 10%;
  top: 63.5%;
}

.session-report {
  position: absolute;
  font-size: 70%;
  left: 5%;
  top: 80%;
}

.session-errors {
  color: red;
}

.session-submit {
  border-radius: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: absolute;
  right: 7%;
  letter-spacing: 3px;
  bottom: 25%;
  // border: 1px solid darkslateblue;
  background-color: rgba(92, 89, 89, .2);

  &:hover {
    cursor: pointer;
    background-color: rgba(72, 61, 139, .2);
  }
}
  .session-guest {
    border-radius: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
    right: 7%;
    letter-spacing: 3px;
    bottom: 45%;
    // border: 1px solid darkslateblue;
    background-color: rgba(92, 89, 89, .2);

    &:hover {
      cursor: pointer;
      background-color: rgba(72, 61, 139, .2);
    }
  }

