body {
  background-color: #FFFAF0;
  color: darkslateblue;
}

.backsplash img{
  padding-top: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
}

img {
  // opacity: 0.1;
  filter: alpha(opacity=10);
  width: 100%;
  background-size: cover;
} 

.title {
  display: flex;
  /* color: #FFFAF0; */
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  letter-spacing: 7px;
  padding: 0px 70px 0px 70px;
  position: absolute;
  margin: 0px;
}

.subtitle {
  display: flex;
  font-family: 'Crimson Text', serif;
  font-size: 60px;
  position: absolute;
  color: #FFFAF0;
  top: 70px;
  left: 440px;
}